body{
    background-color: aqua;
    color: greenyellow;
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera{
    border:2px dashed aquamarine;
    width: 350px;
    height: 300px;
}
.name_of_object,#result_object_name,#result_object_accuracy{
 color: cadetblue;
}